
/***** Variables *****/


:root {
    --orangeGradiant1:rgb(230,106,4);
    --orangeGradiant2: linear-gradient(90deg, rgba(230,106,4,1) 28%, rgb(250, 185, 46) 64%, rgba(252,239,69,1) 100%);
    --grayDefault: #292727;
    --grayDarker:rgb(26, 24, 24);

    --silverGradiant1:rgb(255,255,255);
    --silverGradiant2:linear-gradient(90deg, rgba(255,255,255,1) 19%, rgba(203,203,203,1) 39%, rgba(255,255,255,1) 62%, rgba(182,182,182,1) 100%);
  }
  
  

/***** General stuff *****/


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #292727;
  font-family: 'Roboto', sans-serif;
}

a{
    color:white;
}
a:link {
    color: rgb(0, 140, 255);
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration:underline;
  }

a:visited{
    text-decoration: none;
    color:white;

}

Button:hover{
    text-decoration:underline;
    cursor:pointer;
}
