.regform {
  width: 100%;
}

.loginBox {
  border-radius: 25px;
  min-width:300px;
  width: 30%;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20%);
  padding: 20px;
  background: linear-gradient(rgb(75, 72, 72), rgb(53, 51, 51));
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
  color: rgb(255, 254, 253);
}

.regTextField input {
  padding: 25px;
  min-width: 240px;
}

.signUpSubmit {
  margin: 25px 0 15px 0;
}

.reg-Picture {
  background: url("../images/signup/barbell.jpg") no-repeat;
  overflow: auto;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.reg-alert-container{
  height:30px;
  width: 250px;
  margin-top: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reg-alert-hidden {
  opacity: 0;
  transition: all 250ms linear 2s;
}

@media screen and (max-width: 550px) {
  .loginBox {
    width: 85%;
  }
}
