/****************** Start Page *************************/

body {
  /*Workaround to prevent the horizontal scrollbar*/
  overflow-x: hidden;
}

.sp-container {
  display: flex;
  flex-direction: column;
}

.sp-section {
  width: 100vw;
  height: 100vh;
}


.box-1 img {
  object-fit: cover;
  opacity: 0.4;
}

.title {
  display: inline-block;
  font-size: 180px;
  font-weight: bold;
  text-align: center;
  height: 400px;
}

.title p {
  background: -webkit-linear-gradient(360deg, #e66a04, #fcef45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: normal;
}

.headingg{
  margin-top: 200px;
  display: inline-block;
  font-size: 180px;
  font-weight: bold;
  text-align: center;
  height: 200px;
  background: -webkit-linear-gradient(360deg, #e66a04, #fcef45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-headingg{
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: white; 
  font-weight: bolder;
}

.sp-text-info {
  color: white;
  padding-bottom: 20px;
}

.sp-bttn-join {
  background: var(--orangeGradiant1);
  background: var(--orangeGradiant2);
  border: none;
  border-radius: 35px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin-top: 5%;
}

.sp-btn-join {
  background: var(--orangeGradiant1);
  background: var(--orangeGradiant2);
  border: none;
  border-radius: 35px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin-right: 10px;
}



/* försöker få call to action knappens text att bli lite metallisk- funkar inte atm*/
.sp-btn-join p {
  background: -webkit-linear-gradient(360deg, #ffffff, #b9b9b9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.About-us-text{
  align-items: center;
}

.renderlayer-parallax-about-us{
  width: 600px;
  margin-left: 5%;
  align-items: left;
  justify-content: flex-end;
  padding: 0 20px 20px 20px;
  text-align: left;
  align-content: left;
  font-size: 23px;
  background: var(--orangeGradiant1);
  border-radius: 30px;
  opacity:80%;
}

.parallax-image2{
  max-width:100%;
  height:auto;
}

.right-card{
  float: left;
}

.middle-card{
  float: left;
}

.left-card{
  float: left;
}

div.price-cards{
 margin-left: 30%;
}

.parallax-image3{
  max-width:100%;
  height: 200px;
}


@media only screen and (max-width: 660px) {
  
  /* DISABLE x AXIS SCROLL*/
  body.sp-container{
    overflow-x: hidden;
  }

  body{
    overflow-x: hidden;
  }

  body.sp-section{
    overflow-x: hidden;
  }

  /*PARALLAX IMAGE 1 TITLE*/
    div.headingg {
      font-size: 100px;
    }

  /* PARALLAX IMAGE 2 WITH ABOUT-US INFO*/
  div.parallax-image2{
    height: 100px;
    overflow: hidden;
  }

  div.renderlayer-parallax-about-us {
    width: 300px;
    height: auto;
    margin-left: 5%;
    align-items: left;
    justify-content: center;
    align-content: center;
    font-size: 18px;
    border-radius: 10px;
    opacity:80%;
    overflow: hidden;
  }

  /* PARALLAX IMAGE 3 WITH PRICE-CARDS*/
  div.parallax-image3{
    height: 100px;
    overflow: hidden;
  }

  .left-card, .middle-card, .right-card {
    width: 100%;
    padding: 20px 20px 20px 20px;
  }

  div.price-cards{
    margin-right: 5%;
  }
}

/** PRICE CARD CHEESE-FIX**/


@media only screen and (max-width:9000px)
{
  div.header-container{
    background-color: rgba(0, 0, 0, 0.822);
  }
}

@media only screen and (max-width: 2500px) {
  
  div.price-cards{
    margin-left: 27%;
   }
}

@media only screen and (max-width: 1750px) {
  div.price-cards{
    margin-left: 22%;
   }
}


@media only screen and (max-width: 1700px) {
  div.price-cards{
    margin-left: 20%;
   }
}

@media only screen and (max-width: 1441px) {


  div.price-cards{
    margin-left: 15%;
   }
}


@media only screen and (max-width: 1150px) {
  div.price-cards{
    margin-left: 10%;
   }
}

@media only screen and (max-width: 1090px) {

  div.price-cards{
    margin-left: 5%;
   }
}

@media only screen and (max-width: 960px) {

  .left-card, .middle-card, .right-card {
    width: 100%;
    padding: 20px 20px 20px 20px;
  }
  div.price-cards{
    margin-left: 30%;
  }
}

@media only screen and (max-width: 580px) {
  .left-card, .middle-card, .right-card {
    width: 80%;
  }
  div.price-cards{
    margin-left: 17%;
   }

}

@media only screen and (max-width: 450px) {
  .left-card, .middle-card, .right-card {
    width: 80%;
  }
  div.price-cards{
    margin-left: 3%;
   }

}

@media only screen and (max-width: 420px) {
  div.header-btn-btn4{
    padding-top:10px;
    padding-right:17px;
}
}