/****************** Start Page *************************/

body {
  /*Workaround to prevent the horizontal scrollbar*/
  overflow-x: hidden;
}

.sp-container {
  display: flex;
  flex-direction: column;
}

.sp-section {
  width: 100vw;
  height: 100vh;
}

.box-1 {
  align-items: center;
  justify-content: center;
  /*background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(73, 73, 73, 0.6)),
    url("../images/index/heroimage.png");*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sp-box1-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: calc(100vh - 50px);
}

.box-1 img {
  object-fit: cover;
  opacity: 0.4;
}

.title {
  display: inline-block;
  font-size: 180px;
  font-weight: bold;
  text-align: center;
  height: 400px;
}

.title p {
  background: -webkit-linear-gradient(360deg, #e66a04, #fcef45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: normal;
}

.headingg{
  margin-top: 200px;
  display: inline-block;
  font-size: 180px;
  font-weight: bold;
  text-align: center;
  height: 200px;
  background: -webkit-linear-gradient(360deg, #e66a04, #fcef45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sub-headingg{
  display: inline-block;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: white; 
  font-weight: bolder;
}


.box-2 {
  background-color: var(--grayDefault);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-2-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.box-2-img {
  background-image: url("../images/index/default-workout-img.jpeg");
  box-shadow: 10px 10px 5px rgb(34, 34, 34);
  height: 266px;
  width: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.box-2-info {
  color: white;
}

.box-2-bottom {
  width: 90vw;
  height: 3px;
  margin-left: 5%;
  background: var(--orangeGradiant1);
  background: var(--orangeGradiant2);
  border-radius: 5px;
  margin-top: 40px;
}

.box-3 {
  background-color: #e4e3e1;
  height: 50vh;
}

.sp-text-info {
  color: white;
  padding-bottom: 20px;
}

.sp-bttn-join {
  background: var(--orangeGradiant1);
  background: var(--orangeGradiant2);
  border: none;
  border-radius: 35px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin-top: 5%;
}

.sp-btn-join {
  background: var(--orangeGradiant1);
  background: var(--orangeGradiant2);
  border: none;
  border-radius: 35px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin-right: 10px;
}

.sp-btttn-join {
  background:black;
  border: black;
  border-radius: 5px;
  text-align: center;
  color: white;
  height: 40px;
  font-size: 25px;
}


/* försöker få call to action knappens text att bli lite metallisk- funkar inte atm*/
.sp-btn-join p {
  background: -webkit-linear-gradient(360deg, #ffffff, #b9b9b9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.startpage-email-label {
  justify-content: 'center';
  margin-left: 400px;
  width: 100%;
}

.startpage-email-box {
  justify-content: 'center';
  margin-left: 300px;
  width: 70%;
  height: 80%;
}


.startpage-MOVE-INPUT {
  justify-content: 'center';
  margin-left: 150px;
}

.startpage-email-TITLE {
  justify-content: 'center';
  font-size: 44px;
  border-color: black;
  border-width: 2px;
  height: 65px; 
  width:100;
  color: var(--grayDefault);
}

.label-email {
  align-items: 'left';
  justify-content: center;
  font-size: 14px;
  padding: 0 2px 30px 0;
  color: white;
  opacity:90%;
  text-transform: uppercase;
}

.startpage-email-text{
  color: white;
  font-size: 22px;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.input-email{
    position: relative;
    width: 300px;
    padding: 6px 5px;
    line-height: 160%;
    height: 25px;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.15);
    color: white;
    border: none;
    border-bottom: 1px solid #aaa;
    }

    .textarea-email{
      position: relative;
      width: 500px;
      height: 300px;
      resize: none;
      padding: 6px 0;
      line-height: 160%;
      font-size: 14px;
      margin-right: 35px;
      padding-right: 5px;
      font-size: 20px;
      background: rgba(0, 0, 0, 0.57);
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      border: none;
      border-bottom: 1px solid #aaa;
      }

@media only screen and (max-width: 600px) {
  /* For tablets: */
  div.title {
    font-size: 50px;
    height: 100px;
    margin-bottom: 20%;
  }

  div.sp-box1-info {
    font-size: 15px;
  }

  div.box2-info {
    font-size: 15px;
  }
}
