db.sqlite3
api/migrations
workoutApp/migrations
api/__pycache__
workoutApp/__pycache__
workoutApp/migrations/__pycache__
api/migrations/__pycache__
frontend/node_modules/
frontend/package-lock.json
git@github.com:andreas-jansson/workoutApp.git
frontend/__pycache__/views.cpython-39.pyc
frontend/__pycache__/urls.cpython-39.pyc
frontend/__pycache__/models.cpython-39.pyc
frontend/__pycache__/apps.cpython-39.pyc
frontend/__pycache__/admin.cpython-39.pyc
frontend/__pycache__/__init__.cpython-39.pyc
frontend/migrations/__pycache__/__init__.cpython-39.pyc
workoutApp/__pycache__/__init__.cpython-39.pyc
workoutApp/__pycache__/settings.cpython-39.pyc
workoutApp/__pycache__/urls.cpython-39.pyc
workoutApp/__pycache__/wsgi.cpython-39.pyc
frontend/static/frontend/vendors-node_modules_html2canvas_dist_html2canvas_js.js.LICENSE.txt
frontend/static/frontend/vendors-node_modules_html2canvas_dist_html2canvas_js.js
frontend/static/frontend/vendors-node_modules_dompurify_dist_purify_js.js.LICENSE.txt
frontend/static/frontend/vendors-node_modules_dompurify_dist_purify_js.js
frontend/static/frontend/vendors-node_modules_canvg_lib_index_es_js.js.LICENSE.txt
frontend/static/frontend/vendors-node_modules_canvg_lib_index_es_js.js
*.pyc
*.pyc
